// VARIABLES

// ================vendors================

$vendors: "-moz-", "-webkit-", "-o-", "-ms-", ""; 

//=================FONTCOLORS==============

$fontcolor : #575757;
$iconsColor:#4b4b4b;

//================MAINCOLORS===============
$mainColor:#22a7f0;
$footerBgColor:#161616;
$bgColor:#f8f8f8;

//==============FONT FAMILY================
$openSansFont: 'Open Sans', sans-serif;
$playFont:'Play-Regular.ttf';

//=============images paths================
$recentpro1:'../images/HOME/recentproj1.jpg';
$recentpro2:'../images/HOME/recentproj2.jpg';


